<div class="miniDiv" [style.backgroundColor]="color">

    <div class="divStreet">
        <input class="pStreet" [disabled]="!isEdit" [value]="direction" [(ngModel)]="direction" (ngModelChange)="changeDirection()" >
    </div>

    <div class="divElement">
        <button class="btnCountSubstract" (click)="decrementCount()">-</button>
        <button class="btnCountSubstractVehicle" (click)="decrementCountVehicle()">-</button>

        <div class="divCount">
            <mat-label class="pCounter">C: {{count}}</mat-label>
            <mat-label class="pCounterVehicle" [textContent]="'S: ' + countVehicle"></mat-label>
        </div>

        <button class="btnCountAddVehicle" (click)="incrementCountVehicle()">+</button>
        <button class="btnCountAdd" (click)="incrementCount()">+</button>
    </div>
</div>