<div class="map-container">
    <div class="map-frame">
      <div id="map" class='custom-popup'></div>  
    </div>
</div>

<div *ngIf="isShowSettings" class="divBtns">

  <button *ngIf="isMyPosition" class="btns" (click)="openMenu()" style="background-color: var(--selected);">
    <mat-icon fontSet="fa" fontIcon="fa-eye" class="icons"></mat-icon>
  </button>
  <button *ngIf="!isMyPosition" class="btns" (click)="openMenu()">
    <mat-icon fontSet="fa" fontIcon="fa-eye-slash" class="icons"></mat-icon>
  </button>

  <button class="btns" (click)="changeMap()" >
    <mat-icon fontSet="fa" fontIcon="fa-map-o" class="icons"></mat-icon>
  </button>

  <button class="btns" (click)="mapHeat()" [ngClass]="{'selectedG' : isHeat}">
    <mat-icon fontSet="fa" fontIcon="fa-fire" class="icons"></mat-icon>
  </button>

  <button class="btns" (click)="onOpenEdit()" [ngClass]="{'selected' : isOpenEdit}" >
    <mat-icon fontSet="fa" fontIcon="fa-map-marker" class="icons"></mat-icon>
    <mat-icon fontSet="fa" fontIcon="fa-gear" class="minIcon"></mat-icon>
  </button>

  <mat-button-toggle-group class="divToggle" *ngIf="isOpenEdit" name="toggleGroup">
    
    <mat-button-toggle *ngFor="let state of states" class="btns" 
      [ngClass]="{ 'disable': currentState == 'none'}" [value]="state.name"
      (click)="changeState(state.name)">
      <mat-icon fontSet="fa" [fontIcon]="state.icon" style="margin-top: 2px;" class="icons"></mat-icon>
    </mat-button-toggle>

    </mat-button-toggle-group>
</div>

<mat-form-field class="matFormMap" *ngIf="isChangeMap" (click)="isClc()">
  <mat-select (valueChange)="setMap($event)" [value]="currentMap">
    <mat-option *ngFor="let map of arrayMaps" [value]="map">
      {{map.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
