.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.map-frame {
  height: 100%;
}
  
#map {
  height: 100%;
} 

::ng-deep .leaflet-popup-content-wrapper {
  background-color: var(--background-color) !important;
  color: var(--color-text) !important; 
}

::ng-deep .leaflet-popup-content-wrapper a {
  background-color: var(--background-color) !important;
  color: var(--color-text) !important; 
}

::ng-deep .leaflet-popup-tip-container {
  display: none !important;
}

::ng-deep .leaflet-popup-tip {
  display: none !important;
}

::ng-deep .mat-mdc-form-field-icon-prefix>.mat-icon, .mat-mdc-form-field-icon-suffix>.mat-icon {
  padding: 0 !important; 
  margin-left: 10px;
  margin-top: 7px;
  box-sizing: content-box;
  border: none;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  box-sizing: border-box;
  margin-bottom: -20px;
  position: relative;
  border: none;
}

.matFormMap{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 5%;
  left: 40px; 
  z-index: 400;
  height: 50px;
  background-color: var(--background-color);
  border: 0.5px solid var(--secondary);
  color: var(--text-color); 
  border-radius: 10px;
  padding-top: 10px;
}

.matFormMap mat-option{
  border: 0.5px solid var(--secondary);
}

.divBtns{
  top: 5%;
  left: 5px;
  z-index: 402;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: var(--text-color); 
  padding: -5px;
}

.btns{
  width: 33px;
  height: 30px;
  padding-left: 4px;
  border-radius: 10px;
  border: 0.5px solid var(--secondary);
  background-color: var(--background-color);
  color: var(--color-text); 
  margin-top: 1px;
  cursor: pointer;
}

.divToggle{
  margin-top: -30px;
  left: 35px;
  display: flex;
  flex-direction: column;
  color: var(--text-color); 
  padding: -5px;
  border-radius: 10px;
  background-color: var(--secondary) !important;
}

.icons{
  padding-top: 5px;
  padding-right: 3.5px;
  font-size: 16px;
  color: var(--color-text); 
}

.btns.disable{
  background-color: var(--background-color) !important;
  color: var(--color-text) !important;
}

.mat-button-toggle-appearance-standard {
  background-color: var(--background-color) !important;
  color: var(--color-text) !important;
  opacity: 1 !important;
}

.mat-button-toggle-checked {
  background-color: var(--selected) !important;
  border: 1px solid var(--primary) !important;
  color: var(--color-text) !important;
}

.botones-container.initial .mat-button-toggle {
  background-color: var(--background-color) !important;
  color: var(--color-text) !important;
}

.minIcon{
  font-size: 8px;
  padding-right: 3.5px;
  margin-top: -15px;
  margin-left: 7.5px;
  color: var(--color-text); 
}

.btns.selected{
  background-color: var(--secondary);
}

.btns.selectedG{
  background-color: var(--selected);
}