.labels, mat-label, .mat-label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.mdc-tab-indicator__content--underline {
  --mdc-tab-indicator-active-indicator-color: var(--primary) !important;
}

.mdc-tab-indicator__content--underline :active {
  --mdc-tab-indicator-active-indicator-color: var(--primary) !important;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: var(--primary) !important;
} 

.mdc-tab-indicator {
    color: var(--primary) !important;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color:  !important;
    --mat-tab-header-disabled-ripple-color: var(--primary) !important;
    --mat-tab-header-pagination-icon-color: var(--primary) !important;
    --mat-tab-header-inactive-label-text-color: var(--color-text) !important;
    --mat-tab-header-active-label-text-color: var(--primary) !important;
    --mat-tab-header-active-ripple-color: var(--primary) !important;
    --mat-tab-header-inactive-ripple-color:var(--color-text) !important;
    --mat-tab-header-inactive-focus-label-text-color:var(--color-text) !important;
    --mat-tab-header-inactive-hover-label-text-color:var(--color-text) !important;
    --mat-tab-header-active-focus-label-text-color: var(--primary) !important;
    --mat-tab-header-active-hover-label-text-color: var(--primary) !important;
    --mat-tab-header-active-focus-indicator-color: var(--primary) !important;
    --mat-tab-header-active-hover-indicator-color: var(--primary) !important;
}

.mat-mdc-text-field-wrapper{
    border-radius: 10px !important;
}

.mdc-notched-outline{
    color: transparent !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.mat-mdc-form-field-infix {
    min-height: 0 !important;
}

.mat-mdc-form-field{
    min-height: 0 !important;
    border: 0.1px solid var(--secondary);
    border-radius: 0 0 0 5px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--background-color) !important;
    color: var(--background-color) !important;
}

div.mat-mdc-select-panel {
    color: var(--color-text) !important;
    background-color: var(--background-color) !important;
    margin-top: -5px;
    border-top: 0.5px solid var(--primary);
    border-radius: 1px 1px 0 10px !important;
}

.mat-mdc-option {
    color: var(--color-text) !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: var(--primary) !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    border-color:var(--primary) !important;
    border-radius: 10px !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    border: 2px solid var(--primary);
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple):active {
    animation: button-illumination 0.3s, button-movement 1s infinite alternate;
}

.mat-mdc-select-arrow svg {
    color: var(--primary) !important;
}

.mat-mdc-select-arrow {
    color: var(--primary) !important;
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after, .mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
    color: var(--primary) !important;
}

.mat-mdc-select {
    color: var(--color-text) !important;
}

.mat-mdc-form-field-hint-spacer {
    flex: 1 0 1em;
}

::-webkit-scrollbar {
    width: 5px;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 10px;
    background: var(--secondary);
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    btnCount {
        font-size: 22px;
        padding: 8px 16px;
    }
}

@keyframes button-illumination {
from {
    background-color: var(--background-color);
}
to {
    background-color: var(--primary);
}
}
  
@keyframes button-movement {
from {
    transform: translateX(0); 
}
to {
    transform: translateX(10px);
}
}

.mdc-button {
    min-width: 33px !important;
}

.mat-mdc-button>.mat-icon {
    margin-right: 0 !important;
    padding-bottom: 10px !important;
    padding-right: 0 !important;
    padding-left: 5px !important;
    font-size: 15px !important;
    height: auto !important;
    width: auto !important;
    color: var(--color-text) !important; 
}

.mat-mdc-menu-item {
    margin-top: 5px !important;
    min-width: 100% !important;
    min-height: 33px !important;
    margin-right: 0 !important;
    padding: 5px !important;
    font-size: 15px !important;
    height: auto !important;
    width: auto !important;
    background-color: var(--secondary) !important;
    color: var(--color-text) !important; 
}

.mat-mdc-menu-panel.mat-mdc-menu-panel{
    margin-top: 2px !important;
    margin-right: -15px;
}

.mat-mdc-menu-panel {
    border-radius: 10px !important;
    padding: 2px !important;
}

.tooltipC {
    background-color: var(--background-color);
    color: var(--color-text);
    border: 1px solid var(--secondary);
    padding: 3px 6px; 
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mat-mdc-menu-item .mat-icon {
    margin-right: 0 !important;
}

.mat-mdc-menu-item .mdc-list-item__primary-text {
    width: 100% !important;
}

.mat-mdc-menu-content{
    background-color: var(--background-color) !important;
    margin-top: 2px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 2px !important;
    border-radius: 10px !important;
}

.icons{
    padding-top: 5px;
    padding-right: 3.5px;
    font-size: 15px;
    color: var(--color-text); 
  }

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
    padding: 0 !important;
    padding-top: 5px;
  }

  .mat-button-toggle-label-content>*{
    vertical-align: baseline !important;
  }

  .mat-mdc-icon-button:disabled {
    color: var(--secondary) !important; 
  }

  mat-cell, mat-header-cell, mat-footer-cell{
    flex: none !important;
  }

  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 10px !important;
  }

  .mat-mdc-paginator-container {
    color: var(--color-text) !important;
  }

  @media (max-width: 768px) {
    .mat-mdc-menu-item .mat-mdc-menu-ripple{
        width: 25px !important;
    }
}

.mdc-data-table__table{
    min-height: 80% !important;
}

  .colored-text0 {
    color: var(--color-text);
  }

  .colored-text1 {
    color: #3498DB
  }

  .colored-text2 {
    color: var(--primary);
  }

  .colored-text3 {
    color: blue;
  }

  .colored-text4 {
    color: rgb(80, 91, 141);
  }

  .mat-paginator-range-label {
    order: 2;
    color: red !important;
}

.mat-paginator .mat-paginator-navigation-previous .mat-paginator-icon {
    position: relative;
    content: "Hola" !important;
  }
  
  .mat-paginator .mat-paginator-navigation-previous {
    content: "Hola" !important;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white !important;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
  }
  
  .mat-paginator .mat-paginator-navigation-previous .mat-paginator-icon:hover::after {
    opacity: 1;
    visibility: visible;
  }
  
  .leaflet-bottom {
    display: none !important;
  }