<div class="image-menu">
    <div class="current-image" (click)="toggleMenu()">
        <img [src]="selectedImage.image" alt="User Profile" class="profile-image">
    </div>
    <div #divImg class="menu" *ngIf="showMenu" >
        <!-- <app-widget-container [id]="'Widget Image'" [columns]="4"> -->
            <div class="image-thumbnail" *ngFor="let image of imageList">
                <img [src]="image.image" alt="Imagen" (click)="onImageSelected(image)">
            </div>
            <button class="btnCloseImg" (click)="toggleMenu()">X</button>
        <!-- </app-widget-container> -->
    </div>
</div>